{{- range $instanceId, $instance := . -}}
vrrp_instance VRRP{{ $instanceId }} {
    state {{ .State }}
    interface {{ .Interface }}
    virtual_router_id {{ .VRID }}
    priority {{ .Priority }}
    advert_int 1
    {{- /* vip-interface binds VIPs to a different interface than the VRRP one, using keepalived's "dev" keyword */}}
    {{- if .VIPs4 }}
    virtual_ipaddress {
        {{- range $i, $vip := .VIPs4 }}
        {{ $vip }}{{ if $instance.VIPInterface }} dev {{ $instance.VIPInterface }}{{ end }}
        {{- end }}
    }
    {{- end }}
    {{- if .VIPs6 }}
    virtual_ipaddress_excluded {
        {{- range $i, $vip := .VIPs6 }}
        {{ $vip }}{{ if $instance.VIPInterface }} dev {{ $instance.VIPInterface }}{{ end }}
        {{- end }}
    }
    {{- end }}
}
{{- end }}
